<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Calendar</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="calendarView">
    <ion-row padding-vertical class="calendarHeader">
      <ion-col responsive-sm>
        <div style="float:left">
          <button primary (click)="PreviousMonth()">
            <ion-icon class="calendarActionIcon calendarMonthForwardIcon" name="arrow-back"></ion-icon>
          </button>
          <button title="Current Month"
                  [disabled]="currentCalendarMonthAndYear.month == systemMonthAndYear.month && currentCalendarMonthAndYear.year == systemMonthAndYear.year"
                  primary (click)="GoToCurrentMonth()">
            <ion-icon name="home"></ion-icon>
          </button>
          <button primary (click)="NextMonth()" class="calendarMonthBackButton">
            <ion-icon class="calendarActionIcon calendarMonthBackIcon" name="arrow-forward"></ion-icon>
          </button>
        </div>
        <div style="float:right">
          <h4 class="calendarMonthLabel">{{calendarMonth.month}}</h4>
          <h4 class="calendarMonthYearSplitter">|</h4>
          <h4 class="calendarYearLabel" primary>{{calendarMonth.yearShort}}</h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="calendarDayNameRow">
      <ion-col *ngFor="let dayName of daysOfWeek" primary class="calendarDayLabelCol">
        <div class="calendarDayOfWeekLabel">{{dayName}}</div>
      </ion-col>
    </ion-row>
    <ion-row @flyInOut="flyInOutState" class="calendarContent" *ngFor="let week of calendarMonth.weeks; let i = index"
             class="calendarWeekRow calendarWeekRow-{{i}}">
      <ion-col [class.calendarEntry-NotInMonth]="day.month != currentCalendarMonthAndYear.month" class="calendarEntry"
               *ngFor="let day of week.days" class="calendarCol" (click)="ShowDetails($event,day)">
        <label class="calendarDateLabel" [style.color]="day.color">{{day.dayOfMonth}}</label>
        {{day.platoon}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
