<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Calendar</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid style="height:100%">
    <ion-row padding-vertical style="margin-bottom:10px">
      <ion-col >
        <button primary  (click)="PreviousMonth()">
          <ion-icon class="calendarActionIcon calendarMonthForwardIcon" name="arrow-back"></ion-icon>
        </button>
        <button primary  (click)="NextMonth()" class="calendarMonthBackButton">
          <ion-icon class="calendarActionIcon calendarMonthBackIcon" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      <div style="float:right;margin-right:10px;">
        <h1 class="calendarYearLabel" primary>{{calendarMonth.yearShort}}</h1>
        <h4 class="calendarMonthYearSplitter">|</h4>
        <h4  class="calendarMonthLabel">{{calendarMonth.month}}</h4>
        </div>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let dayName of daysOfWeek" primary class="calendarDayLabelCol">
        <div style="text-align: center" class="calendarDayLabel">{{dayName}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let week of calendarMonth.weeks; let i = index" class="calendarWeekRow calendarWeekRow-{{i}}">
      <ion-col *ngFor="let day of week.days" class="calendarCol" (click)="ShowDetails(day)">
        <div class="calendarEntry">
          <label class="calendarDateLabel" [style.color]="day.color">{{day.dayOfMonth}}</label>
         <!-- <div  class="calendarDayInfoContainer" [hidden]="!day.platoon && !day.startTime" >
            <div>
              <div>{{day.platoon}} - {{day.startTime}}</div>
            </div>
          </div> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
