@import '../../theme/app.variables';

.calendarView {
  height: 100%;
  .calendarHeader {
    margin-bottom: 10px;
  }
  .calendarMonthAndYearHeader {
    float: right;
    margin-right: 20px;
  }

  .calendarEntry {
    padding: 5px;
    cursor: pointer;
    height: 100%;
    background: white;
    .calendarDateLabel {
      font-size: 1.5rem;
    }

  }
  .calendarEntry-NotInMonth{
    background: rgba(233, 233, 233, 0.6);
  }

  .calendarCol:nth-child(even) {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }

  .calendarCol {
    padding: 0;
    height: 100%;
  }

  .calendarWeekRow {
    height: 25%;
    border: 1px solid lightgray;
    border-top: 0;

  }

  .calendarDayLabelCol {
    border: 1px solid lightgray;
    font-size: 1.1rem;
    background: dodgerblue;
    color: white;
    div {
      height: 35px;

    }
  }

  .calendarDayLabelCol:nth-child(even) {
    border-width: 1px 0 1px 0;
    vertical-align: top;

  }

  .calendarActionIcon {
    float: right;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;

  }

  .calendarDayInfoContainer {
    margin-right: 10px;
    float: right;
    margin-top: 5%;
    border-radius: 3px;
    padding: 5px;
    color: white;
  }


  .calendarDayOfWeekLabel{
    text-align: center;
  }

  .calendarMonthYearSplitter {
    margin: 0 2px 0 2px;
  }
  .calendarMonthLabel, .calendarMonthYearSplitter, .calendarYearLabel {
    display: inline-block;

  }
  .calendarMonthLabel {
    min-width: 120px;
    text-align: right;
  }
  .calendarMonthBackButton {
    margin-right: 30px;
    margin-left: 10px;
  }
  .calendarMonthLabel, .calendarMonthYearSplitter {
    color: #00897B;
  }
}



