@import '../../theme/app.variables';

.calendarEntry {
  padding: 5px;
  cursor: pointer;
  height:100%;

  &:hover {
    opacity: 1.0;
    background: #F8F8F8;
    label {
      font-weight: bold;
    }
  }

}





.calendarCol:nth-child(even) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.calendarCol {
  padding: 0;
  height: 100%;
}

.calendarWeekRow {
  height: 25%;
  border: 1px solid lightgray;
  border-top: 0;

}

.calendarDayLabelCol {
  border: 1px solid lightgray;
  font-size: 1.1rem;
  background: dodgerblue;
  color: white;
  div {
    height: 25px;

  }
}

.calendarDayLabelCol:nth-child(even) {
  border-width: 1px 0 1px 0;
  vertical-align: top;

}

.calendarActionIcon {
  float: right;
  cursor: pointer;
  font-size: 2.5rem;
  color: color($colors, primary);
  opacity: .7;
  &:hover {
    opacity: 1.0;
  }

}

.calendarMonthForwardIcon {
  margin-right: 10px;
}
.calendarDayInfoContainer{
  margin-right: 10px;

  margin-top:5%;
  border: 1px solid lightgray;
  padding: 5px;
}
.calendarEntry {

}


.calendarEntry-ColorCoded{
  color: white;

}

